body {margin-top:50px;padding:0;text-align:center;background:#161616 url("http://www.alakananda-iitm.com/Alak/static/images/finalBgd.png") no-repeat left top;font-family:Lucida Sans Unicode;font-size:12px;color:#FFFFFF}
a {color:#AAFFBB}
a:hover {text-decoration:none}
a img {border:none}
.inner_copy {border:0;color:#f00;float:left;width:50%;important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
#page {width:920px;padding:40px 20px 0 20px;}

#banner {padding-bottom:20px;position:absolute;top:160px;left:0px;}
/* Content */
1#content {float:left;width:580px;margin:0 auto 0 auto;}

#footer {font-weight:bold;color:black;height:20px;margin:0 auto;padding-top:50px;position:absolute;float:center;top:970px;left:400px;}

.tabImage{position:absolute;top:40px;}
#home{left:180px;height:32px;width:112px;background:url("http://www.alakananda-iitm.com/Alak/static/images/TabNew/home.png");}
#home:hover{background-position:0 32px;cursor:pointer}
#activities{left:292px;height:32px;width:112px;background:url(http://www.alakananda-iitm.com/Alak/static/images/TabNew/activities.png);}
#activities:hover{background-position:0 32px;cursor:pointer}
#alumni{left:404px;height:32px;width:112px;background:url(http://www.alakananda-iitm.com/Alak/static/images/TabNew/alumni.png);}
#alumni:hover{background-position:0 32px;cursor:pointer;}
#gallery{left:516px;height:32px;width:112px;background:url(http://www.alakananda-iitm.com/Alak/static/images/TabNew/gallery.png);}
#gallery:hover{background-position:0 32px;cursor:pointer;}
#residents{left:628px;height:32px;width:112px;background:url(http://www.alakananda-iitm.com/Alak/static/images/TabNew/residents.png);}
#residents:hover{background-position:0 32px;cursor:pointer}
#contact{left:740px;height:32px;width:112px;background:url(http://www.alakananda-iitm.com/Alak/static/images/TabNew/contact.png);}
#contact:hover{background-position:0 32px;cursor:pointer;}
#login{position:absolute;top:40px;left:860px;height:25px;width:170px;}
#main_text
{
    position:absolute;
    left:200px;
    top:700px;
    width:1000px;
    height:400px;
    font-size:16pt;
}
a{
text-decoration:none;
color:#3c0606;
}

input[type=submit]
{
    position:relative;border:none;top:0px;left:40px;height:25px;width:90px;background:url(http://www.alakananda-iitm.com/Alak/static/images/TabNew/login.png);
  
  
  
}

input[type=submit]:hover
{
background-position:0 25px;cursor:pointer;
}
#update
{
    width:90px;
    height:25px;
    border:none;
    background:url(http://www.alakananda-iitm.com/Alak/static/images/TabNew/update.png);


}   
#update:hover{cursor:pointer;background-position:0 25px;}

#edit
{
    width:90px;
    height:25px;
    border:none;
    background:url(http://www.alakananda-iitm.com/Alak/static/images/TabNew/edit.png);


}   
#edit:hover{cursor:pointer;background-position:0 25px;}


#logout{
    position:absolute;
    left:0px;   
    width:90px;
    height:25px;
    border:none;
    background:url(http://www.alakananda-iitm.com/Alak/static/images/TabNew/logout.png);}
#logout:hover{cursor:pointer;background-position:0 25px;}

#password{
    width:88px;
    height:25px;
    border:none;
    background:url(http://www.alakananda-iitm.com/Alak/static/images/TabNew/changepwd.png);}
#password:hover{cursor:pointer;background-position:0 25px;}

#myhome{
    width:90px;
    height:25px;
    border:none;
    background:url(http://www.alakananda-iitm.com/Alak/static/images/TabNew/myProfile.png);}
#myhome:hover{cursor:pointer;background-position:0 25px;}


.tabChoices { 
    position:absolute;
    top:32px;
    left:0px;
    width:112px;
    font-size:9pt;
    z-index:1;
    font-family:Ubuntu,sans-serif;
    visibility:hidden;
}
.menuContent1{

    position:absolute;
    top:8px;
    left:10px;


}
.menuContent1:hover
{
    font-weight:bold;

}
.menuContent2{

    position:absolute;
    top:38px;
    left:10px;
}
.menuContent2:hover
{
    font-weight:bold;

}

.menuContent3{

    position:absolute;
    top:68px;
    left:15px;
}
.menuContent3:hover
{
    font-weight:bold;

}

.menuContent4{

    position:absolute;
    top:98px;
    left:15px;
}
.menuContent4:hover
{
    font-weight:bold;

}


#activitiesChoices
{
    background:url(http://www.alakananda-iitm.com/Alak/static/images/menu/dropdown-3.png);
    height:96px;
}

#galleryChoices
{
    background:url(http://www.alakananda-iitm.com/Alak/static/images/menu/dropdown-3.png);
    height:96px;
}
#residentsChoices
{
    background:url(http://www.alakananda-iitm.com/Alak/static/images/menu/dropdown-4.png);
    height:128px;
}
#contactChoices
{
    background:url(http://www.alakananda-iitm.com/Alak/static/images/menu/dropdown-2.png);
    height:64px;
}


