{%extends "index.html"%}

{%block content%}

<div id="heading_team" style="postion:relative;align:center;font-size:20px;font-color:#f2345f;">
Details of the Meet currently registered in
</div>

{%if meet_object%}

<ul>

    Coupon Type = {{meet_object.CouponType}}
<li>
</li>

<li>
    Coupon Initiator - {{meet_object.users.user.name}}

</li>

<li>
Start Time - {{meet_object.Start_Time}}
</li>

<li>
{%if meet_object.End_Time %}
{{meet_object.End_Time}}
{%else%}
End Time not yet decided
{%endif%}
</li>


<li>

{% for junta in meet_object.CouponUsers.all %}
    {{forloop.counter}}
    {{junta.user}}<br/>

{%endfor%}    
</li>


</ul>
<div id="leave_team" style="position:relative;top:-10px;left:370px;font-size:20px;">

<a href="{{SITE_URL}}/autometer/leave_meet">leave the team</a>

</div>
{%else%}
<p>CURRENTLY YOU ARE NOT REGISTERED TO ANY MEET</p>

{%endif%}


<div id="heading_team" style="position:relative;align:center">
<center><h2> CURRENT MEETS GOING ON </h2> </center>
</div>

<div id="content_list" style="position:relative;left:10px;align:center">
<center>	{{message}}
	   <br>
	 <table class="sortable">
		<th width="100px">INITIATER</th>       
		<th width="150px">START TIME</th>
  
     {%for meets in latest_meet%}
	   <tr>
		 <div style="position:relative;left:10px;"><td><a href="/autometer/join_meet/{{meets.id}}">{{meets.initiater.user.user.username}}</a></td>    
		      <td> {{meets.start_time}}</td>
		 </div>
	  </tr>
				        
	 {%endfor%}
 </table>
 </center>	
</div>



<script>
    $("div#content_list").hide()
  $("div#heading_team").click(function () {
    
    $("div#content_list").slideToggle("slow");
    });
  

</script>

			        
{%endblock%}


