{% extends "index.html"%}

{%block head %}


{%endblock%}


{%block login%}
<li>
	<h2>Login</h2>
	{{error_message}}
	<p><form action="" method="post">
         {% csrf_token %}
         <table>
            {{ form.as_table }}
          <!-- submit button -->
                <tr></tr><tr></tr><tr></tr>
            <tr>
       
            <td>               
             <input type="submit" value="Login" /></td>
          <td> <div style="position:relative;right:-70px;">  <a href="/autometer/register/">click here to register </div></a>
          </td>
          </tr>
         
         </table>

       </form></p>
				</li>

{%endblock%}
