{%block head%}



{%endblock%}


{%block body%}

 <div id="login">
 <center>
      <form action="" method="post">
         {% csrf_token %}
         <table>
            {{ form.as_table }}
          <!-- submit button -->
      
            <tr><td>
            <div id="submit" style="text-align:center;">
               <div class="button2">
                  <a href="#">
                      <input type="submit" value="Login" />
                  </a>
                  <span></span>
                <br></br>
               </div>
            </div> 
            </td>
            <td>
                <div class="button2"><a style="color:#183c5a;" href="/autometer/register/">Register</a><span></span></div>
            </td></tr>
         </table>

       </form>
<br>
</center>
  </div>





{%endblock%}
