{%extends "index.html"%}
{%block central_image%}{%endblock%}

{%block header%}

<link href="{{MEDIA_URL}}css/static.css" rel="stylesheet" type="text/css" media="screen" />

{%endblock%}

{% block body %}

<div id="static_body" >
    <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin congue risus. Nunc gravida tristique viverra. Nulla facilisi. Phasellus elit dui, ultricies id porttitor vitae, sodales nec metus. Ut pellentesque enim a dolor interdum vestibulum id eget nunc. Nunc facilisis quam eget ipsum sagittis porttitor. Curabitur sagittis dolor nec elit pellentesque et ornare odio fermentum. In dapibus, est vel laoreet dictum, diam sapien scelerisque nisl, sed vehicula arcu arcu quis enim. Curabitur felis metus, bibendum sit amet elementum in, fermentum ac diam. Sed tempus nulla ut mauris euismod at scelerisque mi placerat. Pellentesque rhoncus sapien in purus venenatis sed tincidunt augue faucibus.</p>

    <p>
        Pellentesque vel dui metus, porttitor iaculis orci. Phasellus in sagittis magna. Nullam laoreet ullamcorper felis, sed dictum velit interdum vel. In hac habitasse platea dictumst. Cras bibendum sollicitudin aliquam. Nullam interdum, nunc a sodales laoreet, risus sem dictum felis, nec ultricies sapien odio nec nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris aliquet leo vitae tortor faucibus faucibus. Nunc vel arcu non neque euismod semper sit amet non risus. Fusce massa ligula, pharetra a convallis a, fringilla ac nunc.
    </p>
    
    
    
    <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin congue risus. Nunc gravida tristique viverra. Nulla facilisi. Phasellus elit dui, ultricies id porttitor vitae, sodales nec metus. Ut pellentesque enim a dolor interdum vestibulum id eget nunc. Nunc facilisis quam eget ipsum sagittis porttitor. Curabitur sagittis dolor nec elit pellentesque et ornare odio fermentum. In dapibus, est vel laoreet dictum, diam sapien scelerisque nisl, sed vehicula arcu arcu quis enim. Curabitur felis metus, bibendum sit amet elementum in, fermentum ac diam. Sed tempus nulla ut mauris euismod at scelerisque mi placerat. Pellentesque rhoncus sapien in purus venenatis sed tincidunt augue faucibus.</p>

    <p>
        Pellentesque vel dui metus, porttitor iaculis orci. Phasellus in sagittis magna. Nullam laoreet ullamcorper felis, sed dictum velit interdum vel. In hac habitasse platea dictumst. Cras bibendum sollicitudin aliquam. Nullam interdum, nunc a sodales laoreet, risus sem dictum felis, nec ultricies sapien odio nec nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris aliquet leo vitae tortor faucibus faucibus. Nunc vel arcu non neque euismod semper sit amet non risus. Fusce massa ligula, pharetra a convallis a, fringilla ac nunc.
    </p>
    
    <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin congue risus. Nunc gravida tristique viverra. Nulla facilisi. Phasellus elit dui, ultricies id porttitor vitae, sodales nec metus. Ut pellentesque enim a dolor interdum vestibulum id eget nunc. Nunc facilisis quam eget ipsum sagittis porttitor. Curabitur sagittis dolor nec elit pellentesque et ornare odio fermentum. In dapibus, est vel laoreet dictum, diam sapien scelerisque nisl, sed vehicula arcu arcu quis enim. Curabitur felis metus, bibendum sit amet elementum in, fermentum ac diam. Sed tempus nulla ut mauris euismod at scelerisque mi placerat. Pellentesque rhoncus sapien in purus venenatis sed tincidunt augue faucibus.</p>

    <p>
        Pellentesque vel dui metus, porttitor iaculis orci. Phasellus in sagittis magna. Nullam laoreet ullamcorper felis, sed dictum velit interdum vel. In hac habitasse platea dictumst. Cras bibendum sollicitudin aliquam. Nullam interdum, nunc a sodales laoreet, risus sem dictum felis, nec ultricies sapien odio nec nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris aliquet leo vitae tortor faucibus faucibus. Nunc vel arcu non neque euismod semper sit amet non risus. Fusce massa ligula, pharetra a convallis a, fringilla ac nunc.
    </p>
    
    
    <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin congue risus. Nunc gravida tristique viverra. Nulla facilisi. Phasellus elit dui, ultricies id porttitor vitae, sodales nec metus. Ut pellentesque enim a dolor interdum vestibulum id eget nunc. Nunc facilisis quam eget ipsum sagittis porttitor. Curabitur sagittis dolor nec elit pellentesque et ornare odio fermentum. In dapibus, est vel laoreet dictum, diam sapien scelerisque nisl, sed vehicula arcu arcu quis enim. Curabitur felis metus, bibendum sit amet elementum in, fermentum ac diam. Sed tempus nulla ut mauris euismod at scelerisque mi placerat. Pellentesque rhoncus sapien in purus venenatis sed tincidunt augue faucibus.</p>

    <p>
        Pellentesque vel dui metus, porttitor iaculis orci. Phasellus in sagittis magna. Nullam laoreet ullamcorper felis, sed dictum velit interdum vel. In hac habitasse platea dictumst. Cras bibendum sollicitudin aliquam. Nullam interdum, nunc a sodales laoreet, risus sem dictum felis, nec ultricies sapien odio nec nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris aliquet leo vitae tortor faucibus faucibus. Nunc vel arcu non neque euismod semper sit amet non risus. Fusce massa ligula, pharetra a convallis a, fringilla ac nunc.
    </p>
    
    <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin congue risus. Nunc gravida tristique viverra. Nulla facilisi. Phasellus elit dui, ultricies id porttitor vitae, sodales nec metus. Ut pellentesque enim a dolor interdum vestibulum id eget nunc. Nunc facilisis quam eget ipsum sagittis porttitor. Curabitur sagittis dolor nec elit pellentesque et ornare odio fermentum. In dapibus, est vel laoreet dictum, diam sapien scelerisque nisl, sed vehicula arcu arcu quis enim. Curabitur felis metus, bibendum sit amet elementum in, fermentum ac diam. Sed tempus nulla ut mauris euismod at scelerisque mi placerat. Pellentesque rhoncus sapien in purus venenatis sed tincidunt augue faucibus.</p>

    <p>
        Pellentesque vel dui metus, porttitor iaculis orci. Phasellus in sagittis magna. Nullam laoreet ullamcorper felis, sed dictum velit interdum vel. In hac habitasse platea dictumst. Cras bibendum sollicitudin aliquam. Nullam interdum, nunc a sodales laoreet, risus sem dictum felis, nec ultricies sapien odio nec nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris aliquet leo vitae tortor faucibus faucibus. Nunc vel arcu non neque euismod semper sit amet non risus. Fusce massa ligula, pharetra a convallis a, fringilla ac nunc.
    </p>
    
    
    <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin congue risus. Nunc gravida tristique viverra. Nulla facilisi. Phasellus elit dui, ultricies id porttitor vitae, sodales nec metus. Ut pellentesque enim a dolor interdum vestibulum id eget nunc. Nunc facilisis quam eget ipsum sagittis porttitor. Curabitur sagittis dolor nec elit pellentesque et ornare odio fermentum. In dapibus, est vel laoreet dictum, diam sapien scelerisque nisl, sed vehicula arcu arcu quis enim. Curabitur felis metus, bibendum sit amet elementum in, fermentum ac diam. Sed tempus nulla ut mauris euismod at scelerisque mi placerat. Pellentesque rhoncus sapien in purus venenatis sed tincidunt augue faucibus.</p>

    <p>
        Pellentesque vel dui metus, porttitor iaculis orci. Phasellus in sagittis magna. Nullam laoreet ullamcorper felis, sed dictum velit interdum vel. In hac habitasse platea dictumst. Cras bibendum sollicitudin aliquam. Nullam interdum, nunc a sodales laoreet, risus sem dictum felis, nec ultricies sapien odio nec nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris aliquet leo vitae tortor faucibus faucibus. Nunc vel arcu non neque euismod semper sit amet non risus. Fusce massa ligula, pharetra a convallis a, fringilla ac nunc.
    </p>
</div>    
{% endblock%}
