{%extends "index.html"%}
{%block central_image%}{%endblock%}
{%block header%}

<link href="{{MEDIA_URL}}css/profile.css" rel="stylesheet" type="text/css" media="screen" />

{%endblock%}


{% block body %}

    <div id="error" style="position:absolute;top:120px;left:380px;font-size:18pt;font-family:lucida;color:#FF0000;">
    {{error}}
    </div>
    
    <form enctype="multipart/form-data" action="/changePassword/" method="POST">   
     {% csrf_token %}
    
    <div id="passwordTitle" class = "passtitle">
    
        <img src="{{MEDIA_URL}}images/profilePage/password.png"/>
    
    </div>
    
    <div id="passwordDesc" class = "passDesc">
        {{form.password}}
    </div>
    
    
    <div id="passagainTitle" class = "passtitle">
    
        <img src="{{MEDIA_URL}}images/profilePage/passwordAgain.png"/>
    
    </div>
    
    <div id="passagainDesc" class = "passDesc">
        {{form.password_again}}
    </div>
    
    
    <div id="updateButton" style="position:absolute;top:400px;left:510px;">
    <button type="submit" id="update" style="border: 0;">
    
    </button>
    </div>
    </form>


{% endblock%}
