{%extends "index.html"%}
{%block central_image%}{%endblock%}
{%block header%}

<link href="{{STATIC_URL}}css/static.css" rel="stylesheet" type="text/css" media="screen" />

{%endblock%}

{% block body %}

<div id="static_body" >
    <h2 style="text-align:center">Hostel Council</h2>
    <div style="position:absolute;left:140px;">    

        <table style="text-align:center;">
            <th style="color:#2DA4D4">Secretary</th><th style="color:#2DA4D4">Name (Nick)</th><th style="color:#2DA4D4">E-mail Address</th>
            <tr><td>General</td>	<td>Prashant</td>  	<td>tsr.prasanth@gmail.com</td></tr>
            <tr><td>Sports</td>	<td>Aneesh</td>	<td>aneeshbhagwat@gmail.com</td></tr>
            <tr><td>Literary Affairs</td><td>Raymond Joseph</td><td>raymond.joseph.7@gmail.com</td></tr>
            <tr><td>Social Affairs</td>	<td>Achutan Sekhar</td>	<td>achuthan.sekar@gmail.com</td></tr>
            <tr><td>Technical Affairs</td><td>Adarsh</td>	<td>adarsh25may@gmail.com</td></tr>
            <tr><td>Mess</td>	<td> Kranthi</td>	<td>kranthi.iitmadras@gmail.com </td></tr>
            <tr><td>Garden</td>	<td>Venkat Sagar</td>	<td>vsagarcool143@gmail.com</td></tr>
            <tr><td>Alumni Affairs</td>	<td>Chandranshu Nanda</td>	<td>n.chandranshu@gmail.com</td></tr>
        </table>


    </div>
</div>    
{% endblock%}
