{%extends "index.html"%}
{%block central_image%}{%endblock%}
{%block header%}

<link href="{{STATIC_URL}}css/static.css" rel="stylesheet" type="text/css" media="screen" />

{%endblock%}

{% block body %}

<div id="static_body" >
  <h2 style="text-align:center"> Dr. Somashekhar S. Hiremath</h2>

   <h3 style="text-align:center"> Associate Professor</h3>

    <table>
    <tr>
    <td style="font-weight:bold;width:100px">Home &nbsp&nbsp: </td><td style="width:50px"></td>	<td><a href="http://www.iitm.ac.in/component/faculty/78/somashekhar/" target="_blank"><span style="color:#00FF00">Profile Page</span></a></td></tr>	

	<tr>
      <td style="font-weight:bold;width:100px">Phone &nbsp&nbsp:</td><td style="width:50px"></td><td>+91 (44) 2257 4681</td></tr>

    <tr>
    <td style="font-weight:bold;width:100px">Address &nbsp&nbsp:</td><td style="width:50px"></td><td>MSB 310,Department of Mechanical Engineering
IIT Madras, Chennai - 600 036</td></tr>
</table>
<br/><br/>
<h3 style="text-align:justify">Research Interests</h3>
<ul style="text-align:justify">
     <li>   Fluid Power Systems </li>
     <li>   Mechatronics System Design    </li>
     <li>   Nonconventional Machining Processess </li>
     <li>   Finite Element Analysis-Fluid Structure Interaction  </li>          
     <li>   Robotics  </li>          

</ul>
<br/><br/>
</div>    
{% endblock%}
