{%if is_home%}
<p><form action="" method="post">
    {% csrf_token %}
    <table style="position:absolute;top:-10px;left:35px;">
     
     <td style="width:40px;height:10px;">Username : {{ form.username }}</td></tr><tr>
     <td style="width:40px;height:10px;">Password : {{form.password}}</td>
          <!-- submit button -->
                <tr></tr><tr></tr><tr></tr>
            <tr>
       
            <td>               
     <input type="submit" value="" id="signin"/></td>
          
          </tr>
         
         </table>

       </form></p>

{%endif%}
{%if user.is_authenticated%}

<form enctype="multipart/form-data" action="/logout/" method="GET">      
       {%csrf_token%} 
        <button type="submit" id="logout">
        
        </button>
       
    </form>
    
    {% if display_pass %}
     <form enctype="multipart/form-data" action="/changePassword/" method="GET">      
       {%csrf_token%} 
        <button type="submit" id="password" style="border: 0;;position:absolute;top:0px;left:90px;">
        
        </button>

    </form>
    {%endif%}
    
     <form enctype="multipart/form-data" action="/myHome/" method="GET">      
       {%csrf_token%} 
        <button type="submit" id="myhome" style="border: 0;position:absolute;top:0px;left:178px;">
        
        </button>

    </form>
    {%endif%}
