{%extends "index.html"%}
{%block central_image%}{%endblock%}
{%block header%}

<link href="{{STATIC_URL}}css/static.css" rel="stylesheet" type="text/css" media="screen" />

{%endblock%}

{% block body %}

<div id="static_body" >
    <h2>Achievements of 2011-2012</h2>

    <p>
        It has been a great sporting year for the Alakites setting and breaking numerous records in various sports. Our quest for the Schroeter 2011-12 
        started off with breaking the seemingly never ending jinx of bagging points in Athletics and Weightlifting for many years. It was all possible 
        with the efforts of the athletes and to mention Vinci, a fresher whose 4 medals in athletics played a key role in bagging the points. 
    </p>

    <p> 
        The even semester was more exciting as we secured a silver medal in Badminton and had put up decent performances in Hockey, Table Tennis and Tennis. 
        Alak’s golden legacy in Volleyball continued as expected and bagged the Gold medal fifth time in a row with the institute players leading from the front.
        The Foot(er)ball team’s strenuous efforts in the quadi(quadrangle) every evening bore the fruit when they clinched a bronze medal. 
    </p>

    <p>
        Gold medals in Road Race and Cycling helped us in making a podium finish in the Deans Trophy. The efforts from the national Bridge players Saketh Kabra 
        and Rahul RaviChandran in bagging gold in Bridge and Bondage (Vivin Thomas) setting the institute record in Powerlifting sealed off the first place and 
        eventually Alak had its hand on the Deans Trophy.
    </p>

    <p>
        This year we have a bunch of very talented and enthusiastic freshers who has already proven themselves in various freshie events whose contribution 
        to the hostel will help us continuing the legacy of Alak in sports.
    </p>




</div>    
{% endblock%}
