{%extends "index.html"%}
{%block central_image%}{%endblock%}
{%block header%}

<link href="{{MEDIA_URL}}css/static.css" rel="stylesheet" type="text/css" media="screen" />

{%endblock%}

{% block body %}

<div id="static_body" >
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspThere has been a surge of Tech enthusiasm among the students of Alakananda in the recent years. Alakites have been actively contributing to technical activities be it through participation or taking up big projects like SOE. A keen interest in Robotics has been inculcated in the students thanks to technically brilliant seniors like Lokesh, Fuse who have been very keen mentors.</p><br/>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<img src = "{{MEDIA_URL}}images/static/techsoc.jpg" title = " Alakananda at techsoc"/><br/><br/>

<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspStudents of Alakananda have been constantly winning competitions at Shaastra, Mechanica and other technical fests. Junkyard Wars, Pwned, Shock, Sim Champ, Make Things Work, Project X and Puzzle Championship to name a few are events Alakites have been winning at. Alakananda has also won the 3rd place in Fete-technical last year.</p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTo continue this tradition and to ensure the fresher's continue the good work, a host of intra-hostel freshie events and fundae sessions have been planned. A series of fundae sessions are planned for after Quiz I which will cover a variety of events, from hands on events like Robotics to design events like Aesthetique.</p>
</div>    
{% endblock%}
