{%extends "index.html"%}
{%block central_image%}{%endblock%}
{%block header%}

<link href="{{STATIC_URL}}css/static.css" rel="stylesheet" type="text/css" media="screen" />
<style>
    #activities
    {
        background-position:0 32px;

    }

</style>
{%endblock%}

{% block body %}

<div style="font-size:16px">
    <img src="{{STATIC_URL}}images/techsoc/hostelActivities.png" style="position:absolute;left:170px;">
    <img src ="{{STATIC_URL}}images/techsoc/techSoc.png" style="position:absolute;left:210px;top:170px;">

    <!-- the background images for the text -->
    <img src="{{STATIC_URL}}images/textBackground.png" style="position:absolute;left:200px;top:230px;width:520px;height:200px;z-index:-1">
    <img src="{{STATIC_URL}}images/textBackground.png" style="position:absolute;left:720px;top:630px;width:420px;height:200px;z-index:-1">
    <img src="{{STATIC_URL}}images/textBackground.png" style="position:absolute;left:200px;top:890px;width:920px;height:150px;z-index:-1">

    <!-- the image titles -->
    <span style="position:absolute;left:900px;top:550px;font-family:Helvetica;font-size:20px;"> Fire n' Ice</span>
    <span style="position:absolute;left:350px;top:800px;font-family:Helvetica;font-size:20px;">The Tech-Room</span>

    <div id ="tech_left_top" style="position:absolute;left:210px;top:240px;width:500px;">
        TechSoc culture in Alak began three years ago under TAS Shrishti. We finished sixth that year due to enthusiastic freshers, who would later go on to shape Alak’s Tech-culture.
        The following year, some improvement was seen as we finished fourth under Srinath. 



    </div>


    <img src = "{{STATIC_URL}}images/static/techsoc.jpg" title = "Fire n' Ice" style="position:absolute;left:730px;width:400px;top:230px;height:300px"/>

    <img src="{{STATIC_URL}}images/techsoc/pic2.jpg" style= "position:absolute;left:210px;top:450px;width:450px;">

    <div id="tech_right" style="position:absolute;left:730px;top:650px;width:400px;">
        Last year began with contraptions (the first major event). Due to the contributions of large number of enthusiastic freshers, we were able to place second. 
        This gave us momentum to pull off a spectacular show in Shaastra 2011 contraptions, where we crowned with the first place.
        This is one of the many glorious firsts achieved that year. This win made us believe that we had the necessary potential and skill set to compete 
        against hostels such as Narmada, who had a reputation of winning TechSoc the most number of times. 

    </div>

    <div style="position:absolute;left:210px;top:900px;width:900px;">
        Later in the year came events such as Manual Robotics, SimChamp, Online Programming Contest where our performance was good enough to maintain
        the first position. The sweet smell of victory was within our grasp, but things did not shape up as we expected in events like SNet and Autonomous Robotics.
        We finished second overall in TechSoc by the end of the year. This gave us hope for the future, and we have taken steps to learn from our mistakes.
        Also, many enthusiastic first years took up and completed projects in CFI and CV. This year began with a bang, with Alak leading the points table by
        a massive margin. Hope this spirit and competitiveness is kept alive through this year, and the future!




    </div>    
</div>
{% endblock%}
