{%extends "index.html"%}
{%block central_image%}{%endblock%}
{%block header%}

<link href="{{MEDIA_URL}}css/profile.css" rel="stylesheet" type="text/css" media="screen" />

{%endblock%}
{% block body %}

    <div id="error" style="position:absolute;top:80px;left:300px;font-size:18pt;font-family:lucida;color:#FF0000;">
    {{error}}
    </div>
    
    <form enctype="multipart/form-data" action="/UpdateProfile/" method="POST">   
     {% csrf_token %}
    <div id="photo" class="title">
    {{form.photo}}
    </div>
    
    <div id="nameTitle" class="titleRight"><img src="{{MEDIA_URL}}images/profilePage/name.png"/>
    </div>
    
    <div id="nameDesc" class ="DescRight">
    {{form.display_name}}
    </div>
    
    
    
    <div id="rollTitle"class="titleRight">
    <img src="{{MEDIA_URL}}images/profilePage/rollNo.png"/>
    </div>
    <div id="rollDesc" class ="DescRight">
    {{form.roll_number}}
    </div>

    
    
    
    <div id="branchTitle" class="titleRight">
        <img src="{{MEDIA_URL}}images/profilePage/branch.png"/>
    </div>
    
    <div id="branchDesc" class="DescRight">
        {{form.branch}}
    </div> 
    
    
    
   
    
    
    <div id="homeTitle" class="titleRight">
        <img src="{{MEDIA_URL}}images/profilePage/homeTown.png"/>
    </div>
    
    <div id="homeDesc" class="DescRight">
        {{form.hometown}} 
    </div>
    
    
    <div id="aboutTitle" class = "title">
    <img src="{{MEDIA_URL}}images/profilePage/aboutMe.png"/>
    </div>
    
    <div id="aboutDesc" class = "Desc">
    {{form.about_me}}
    </div>
    
    
    
    
    <div id="skillTitle" class="title">
       <img src="{{MEDIA_URL}}images/profilePage/skillSet.png"/>  
    </div>
    
    <div id="skillDesc" class = "Desc">
        {{form.skill_set}} 
    </div>
    
    
    
    <div id="contactTitle" class="title">
    
        <img src="{{MEDIA_URL}}images/profilePage/contactDetails.png"/>
    </div>
    
    
    <div id="phoneTitle" class = "title">
    <img src="{{MEDIA_URL}}images/profilePage/phoneNo.png"/>
    </div>
    
    <div id="phoneDesc">
        {{form.mobile_number}}
    </div>
    
     <div id="roomTitle" class="title">
        <img src="{{MEDIA_URL}}images/profilePage/roomNo.png"/>
    </div>
    
    <div id="roomDesc">
        {{form.room_number}}
    </div>
    
    <div id="emailTitle" class = "mail">
       <img src="{{MEDIA_URL}}images/profilePage/email.png"/>     
    </div>
    
    <div id="emailDesc">
        {{form.email}}
    </div>



    <div id="socialTitle" class = "mail">
       <img src="{{MEDIA_URL}}images/profilePage/facebook.png"/>     
    </div>
    
    <div id="socialDesc">
        {{form.social}}
    </div>
    
    <div id="updateButton" style="position:absolute;top:1000px;left:580px;">
    <button type="submit" id="update" style="border: 0;">
    
    </button>
    </div>

    </form>


{% endblock%}

