{%extends "index.html"%}
{%block central_image%}{%endblock%}

{%block body%}
<h2>You have already borrowed the following book. Please return it before borrowing another one.</h2>
<table>
	<tr>
		<th>Book Name</th><th>Book author</th><th>Date of Borrow</th><th>Due Date</th>
	</tr>
	<tr>
		<td> {{bookBorrowed.book.name}} </td>
		<td> {{bookBorrowed.book.author}} </td>
		<td> {{bookBorrowed.dateBorrowed}} </td>
		<td> {{bookBorrowed.dueDate}} </td>

	</tr>
</table>
<br/>
Thanks,
<br/>
Raymond Joseph
<br/>
Litrary Secratary
<br/>
Alakananda Hostel

{%endblock%}