{%extends "index.html"%}
{%block central_image%}{%endblock%}
{%block header%}

<link href="{{STATIC_URL}}css/libraryPortal.css" rel="stylesheet" type="text/css" media="screen" />

{%endblock%}

{%block body%}
{%if bookBorrowed%}
<h2>You have borrowed the following book.</h2>
<table>
	<th>Book Name</th><th>Book author</th><th>Date of Borrow</th><th>Due Date</th>
	<tr>
		<td> {{bookBorrowed.book.name}} </td>
		<td> {{bookBorrowed.book.author}} </td>
		<td> {{bookBorrowed.dateBorrowed}} </td>
		<td> {{bookBorrowed.dueDate}} </td>

	</tr>
</table>

<form action="/libraryPortal/return/" method="POST">
	{%csrf_token%}

	<button type="submit" name="book" value={{bookBorrowed.book.id}}>
		Return Book
	</button>
</form>
{%else%}
<h2>You have not borrowed any book currently.</h2>
Click <a href="/libraryPortal/borrow/">here</a> to borrow a book.
{%endif%}
{%endblock%}